.login-card {
    max-width: 400px;
    margin: auto;
    padding-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .ant-card-head-title {
    text-align: center;
    font-size: 24px;
    color: #1890ff; /* Màu cho tiêu đề */
  }
  
  .ant-input-affix-wrapper .ant-input {
    border-radius: 50px;
  }
