.content {
    margin: 50px 0;
}

.course_list {
    /* margin: 20px; */
    width: 100%;
    display: inline-block;
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    padding: 20px;
}


.course_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}