.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background: var(--color-bg-navbar);
  height: 80px;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links_logo {
  margin-right: 2rem;
}

.navbar-links_logo img {
  width: 80px;
  height: 40px;
}

.navbar-links_container {
  display: flex;
  flex-direction: row;
}

.navbar-links_container p {
  color: #fff;
  font-family: var(--font-family);
  margin: 0 20px;
}

.navbar-links_container p:hover {
  color: #c0c0c0;
}

.navbar-search {
  background: #fff;
  padding: 0px 300px;
}

.navbar-link_sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link_sign button {
  background-color: #fff;
  color: var(--color-bg-navbar);
  padding: 5px 10px;
  border-radius: 20px;
  align-items: flex-end;
  font-family: var(--font-family);
  cursor: pointer;
  outline: none;
  border: 0;
}

.navbar-link_login {
    /* margin-left: ; */
}