@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
    --font-family: 'Roboto', sans-serif;
    
    --color-bg-navbar: #163E6A;

    --color-bg:
}


/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.col-md-3 {
    max-width: 25%;
    padding: 12px;
}